/* Structure */

.table-data-container {
    width: 95%;
    margin: 5px auto 5px auto;
    .table-header {
        width: 100%;
        margin: 5px auto 5px auto;
        .filter-content {
            width: 50%;
            float: left;
        }
        .create-meeting-btn {
            width: 100%;
            .create-meeting {
                float: right;
                margin: 15px 0px 0px 0px;
            }
        }
    }
    table {
        width: 100%;
        float: left;
        height: 100%;
    }
    .mat-form-field {
        font-size: 14px;
        width: 100%;
    }
    .paginator-footer {
        clear: both;
        margin: 5px 0px 0px 0px;
    }
}