<div class="outer-container" fxLayout="column" fxFlexFill>

    <div class="content-logo-menu" fxLayout="row" fxLayout.xs="column" fxFlexFill>
        <div fxFlex="50" fxFlex.xs>
            <label class="clm-label1"> your logo </label>
        </div>
        <div fxFlex="50" class="menu-section" fxFlex.xs>
            <ul>
                <li>Home</li>
                <li>Our Menu</li>
                <li>Promo</li>
                <li>Order</li>
            </ul>
        </div>
    </div>

    <div class="content-row-header" fxLayout="row" fxLayout.xs="column" fxFlexFill>

        <div fxFlex class="crh-section" fxLayoutAlign="center center">
            <label class="crh-label1"> Healthy Food Restaurant </label>
            <label class="crh-label2"> Loren ipsum dolor sit amet, consectetuer adipiscing elit. </label>
        </div>

    </div>
    <div class="content-row-menu" fxLayout="row" fxLayout.xs="column" fxFlexFill fxLayoutAlign="space-around center">

        <div fxLayout="column">
            <div fxFlex fxLayout="row" class="pop-menu" fxFlex.xs fxLayoutAlign="center center">
                <h2>popular menu</h2>
            </div>
            <div fxFlex fxLayout="row" class="food-item-display" fxFlex.xs>
                <div class="food-card">
                    <mat-card>
                        <img mat-card-image src="../../assets/images/noodle1.PNG" alt="Photo of Noodle food">
                        <mat-card-content>
                            <h2>Noodles</h2>
                            <p>
                                Loren ipsum dolor sit amet, consectetuer adipiscing elit.
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button> $ 13</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div class="food-card">
                    <mat-card>
                        <img mat-card-image src="../../assets/images/noodle2.PNG" alt="Photo of Noodle food">
                        <mat-card-content>
                            <h2>Noodles</h2>
                            <p>
                                Loren ipsum dolor sit amet, consectetuer adipiscing elit.
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button> $ 13</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div class="food-card">
                    <mat-card>
                        <img mat-card-image src="../../assets/images/noodle3.PNG" alt="Photo of Noodle food">
                        <mat-card-content>
                            <h2>Noodles</h2>
                            <p>
                                Loren ipsum dolor sit amet, consectetuer adipiscing elit.
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button> $ 13</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
            <div fxFlex fxLayout="row" class="show-more-btn" fxFlex.xs fxLayoutAlign="center center">
                <button mat-raised-button> show more </button>
            </div>
        </div>

    </div>

    <div class="content-row-discount" fxLayout="row" fxLayout.xs="column" fxFlexFill>

        <div fxFlex="50" class="food50px-img" fxFlex.xs></div>
        <div fxFlex="50" fxFlex.xs fxLayoutAlign="center center">
            <div class="food-discount-text">
                <label class="label-hdr"> Discount upto 50% All Menu </label>
                <label class="label-subhdr"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed dian nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </label>
                <button mat-raised-button> read more </button>
            </div>
        </div>

    </div>
    <div class="content-row-discount" fxLayout="row" fxLayout.xs="column" fxFlexFill>
        <div fxFlex="50" fxFlex.xs fxLayoutAlign="center center">
            <div class="food-promo-text">
                <label class="label-hdr"> January's Promo: Buy 1 Get 1 Free! </label>
                <label class="label-subhdr"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed dian nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </label>
                <button mat-raised-button> read more </button>
            </div>
        </div>
        <div fxFlex="50" class="foodpromo-img" fxFlex.xs></div>
    </div>
    <div class="how-to-order" fxLayout="column" fxLayout.xs="column" fxFlexFill>
        <div fxFlex fxLayout="row" fxFlex.xs fxLayoutAlign="center center">
            <label class="order-label-hdr"> How to Order </label>
        </div>

        <div class="order-card-group" fxLayout="row" fxLayoutAlign="center center">
            <div class="how-to-order-card" fxLayoutAlign="center center">
                <mat-card>
                    <mat-card-content>
                        <div class="order-step-01"> <span> 01 </span> </div>
                        <h2> Order </h2>
                    </mat-card-content>
                    <mat-card-actions>
                        <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed dian nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="how-to-order-card">
                <mat-card>
                    <mat-card-content>
                        <div class="order-step-01"> <span> 02 </span> </div>
                        <h2> Choose Menu </h2>
                    </mat-card-content>
                    <mat-card-actions>
                        <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed dian nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="how-to-order-card">
                <mat-card>
                    <mat-card-content>
                        <div class="order-step-01"> <span> 03 </span> </div>
                        <h2> Delivery </h2>
                    </mat-card-content>
                    <mat-card-actions>
                        <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed dian nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
    <div class="free-delivery" fxLayout="column" fxLayout.xs="column" fxFlexFill>
        <div fxFlex class="free-delivery-section" fxLayoutAlign="center center">
            <label class="free-delivery-label1"> Free Delivery </label>
            <label class="free-delivery-label2"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed dian nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </label>
        </div>
    </div>
    <div class="customer-feedback" fxLayout="column" fxLayout.xs="column" fxFlexFill>
        <div fxLayout="row" fxFlex class="customer-feedback-section" fxLayoutAlign="center center">
            <label class="customer-feedback-label1"> ❝ </label>
            <label class="customer-feedback-label2"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed dian nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </label>
            <label class="customer-feedback-label3"> Agus Waiters </label>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" class="social-icon-btns">
            <span class="fa fa-facebook"></span>
            <span class="fa fa-twitter"></span>
            <span class="fa fa-instagram"></span>
        </div>
    </div>
    <div class="about-content-row" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxFlexFill>
        <div fxLayout="row" fxLayoutAlign="center center">
            <div class="about-content-cont" fxLayout="column">
                <label class="about-hdr"> About </label>
                <label class="about-subhdr"> Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do eiusmod tempor incididunt ultimam quantum. </label>
            </div>
            <div class="about-content-cont" fxLayout="column">
                <label class="about-hdr"> About </label>
                <label class="about-list">
                    <ul>
                        <li>Team</li>
                        <li>Join us</li>
                        <li>Ethics</li>
                        <li>Goals</li>
                    </ul>
                </label>
            </div>
            <div class="about-content-cont" fxLayout="column">
                <label class="about-hdr"> About </label>
                <label class="about-list">
                    <ul>
                        <li>Team</li>
                        <li>Join us</li>
                        <li>Ethics</li>
                        <li>Goals</li>
                    </ul>
                </label>
            </div>
            <div class="about-content-cont" fxLayout="column">
                <label class="about-hdr"> About </label>
                <label class="about-list">
                    <ul>
                        <li>Team</li>
                        <li>Join us</li>
                        <li>Ethics</li>
                        <li>Goals</li>
                    </ul>
                </label>
            </div>
        </div>
    </div>

</div>