<mat-card class="assessment-topic-links" *ngIf="!hasRoute('login')">
    <ul>
        <li> <button mat-raised-button color="primary" [routerLink]="['/requirements']"> Requirements </button> </li>
        <li> <button mat-raised-button color="primary" [routerLink]="['/pdf']"> PDF to JSON Extract </button> </li>
        <li> <button mat-raised-button color="primary" [routerLink]="['/htmlcss-design']"> HTMLCSS Design </button> </li>
        <li> <button mat-raised-button color="primary" [routerLink]="['/data-table']"> Login DataTable </button> </li>
        <li> <button mat-raised-button color="primary" [routerLink]="" (click)="logout()"> Logout </button> </li>
    </ul>
</mat-card>

<router-outlet></router-outlet>